.dreditor-patch-menu {
  margin: 15px 0 15px 15px;
  float: right;
  &, li, a {
    display: inline-block;
  }
  li:first-child {
    padding: 5px 15px;
  }
  li:nth-child(2) a {
    border-radius: $border-radius 0 0 $border-radius;
  }
  li:last-child a {
    border-radius: 0 $border-radius $border-radius 0;
  }
  a {
    border: 1px solid $border-color;
    color: $gray;
    margin-left: -1px;
    padding: 5px 10px;
    &:hover {
      background: $gray-lightest;
      text-decoration: none;
    }
    &.active, &.active:hover {
      background: $blue;
      border: 0;
      color: #fff;
      padding-bottom: 6px;
      padding-top: 6px;
      position: relative;
    }
  }
}
